.setData{
	/* add padding to set */
}
.column {
	float: left;
	width: 33.33%;
	padding: 10px;
	text-align: center;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.routineDiv {
	background-color: #aaa;
	padding-top: 4px;
	border: 2px solid black;
	text-align:center;
}

.setDiv {
	background-color: #ccc;
	padding-top: 4px;
	border: 2px solid black;
}

.button {
	background-color: #333;
	border: none;
	color: white;
	
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.button:hover{
	background-color: #111
}
.embedMap{
	
}
/*
body {
	font-family: verdana;
}


#completeStatus{
	font-style: italic;
}


h3 {
	font-weight: bold;
	background-color: #DCDCDC;
	margin: auto;
}

.content {
	margin: auto;
	width: 50%;
	padding:20px;
	margin-top: 30px;
}

.navbar {
	background-color: #333;
	overflow: hidden;
}

.navbar a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
	font-size: 17px;
	border-right: 1px solid white;
}

.navbar a:hover{
	background-color: #111;
	color: white;
}

.rightnav {
	float: right;
}

form {
	border: 2px solid;
	text-align: center;
}
#desc {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	height: 120px;
}

.task{
	padding-top: 4px;
	border: 2px solid black;
}
*/
