<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">	
	<link rel="stylesheet" href="/static/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script>
	<meta charset="utf-8">
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>No title specified</title>
	{% endif %}
	</head>
	<body>
		{% include "_navbar.html" %}
		{% include "_flash.html" %}
		{% block content %}{% endblock %}
	</body>
</html>
