<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand abs" href="/">GymTracker</a>
    {% if session.loggedin %}
        <ul class="navbar-nav">
		<a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
		<a class="nav-item nav-link" href="{{ url_for('viewRoutines') }}">Routines</a>
		<a class="nav-item nav-link" href="{{ url_for('nearestGym') }}">Nearest Gyms</a>
		<a class="nav-item nav-link" href="{{ url_for('viewData') }}">View Data</a>
        </ul>
    {% endif %}
	<ul class="navbar-nav ml-auto">
	{% if session.loggedin %}
		<a class="nav-item nav-link" href="{{ url_for('settings') }}">Settings</a>
		<a class="nav-item nav-link" href="{{ url_for('logout') }}">Log out</a>
	{% else %}
		<a class="nav-item nav-link" href="{{ url_for('signin') }}">Sign In</a>
		<a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
	{% endif %}
        </ul>
</nav>
