{% extends "_base.html" %}
{% block content %}
<h1>Welcome back, {{ user.username }}</h1>
<br>
{% if routines %}
<h2>Your routines include: </h2>
	{% for r in routines %}
		<div class="routineDiv">
		<h3> {{ r.name }}</h3>
		</div>
	{% endfor %}
{% else %}
	<h4>You do not currently have any routines for today</h4>
	<a class="btn btn-outline-secondary btn-lg btn-block" href="{{ url_for('defaultRoutine') }}">Click here to select a default routine</a><br>
	<a class="btn btn-outline-secondary btn-lg btn-block" href="{{ url_for('createRoutine') }}">Click here to create your own routine</a>
{% endif %}
{% endblock %}
