{% extends "_base.html" %}
{% block content %}
<h2>Create Routine</h2>
<form action="" method="post" name="addSet">
	{{ form.hidden_tag() }}
	<div class="form-group">
	<h3>Name</h3>
	<p>
		{{ form.name }}<br>
		{% for error in form.name.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}<br>
	</p>
	</div>
	<p><input type="submit" class="btn btn-secondary" Value="Submit"></p>
</form>

{% endblock %}
