{% extends "_base.html" %}
{% block content %}
<h2>Create Set</h2>
<br>
<form action="" method="post" name="addSet">
	{{ form.hidden_tag() }}
	<h3>Exercise</h3>
	<p>
		{{ form.exercise }}<br>
		{% for error in form.exercise.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}<br>
	</p>
	<h3>Weight</h3>
	<p>
		{{ form.weight }}Kg<br>
		{% for error in form.weight.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}<br>
	</p>
	<h3>Reps<h3>
	<p>
		{{ form.reps }}<br>
		{% for error in form.reps.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}<br>
	</p>
	<p><input class="btn btn-secondary" type="submit" Value="Submit"></p>
{% endblock %}
