{% extends "_base.html" %}
{% block content %}
<h2>Default Routines</h2>
<form action="" method="post" name="addSet">
	{{ form.hidden_tag() }}
	<h3>Name</h3>
	<p>
		{{ form.name }}<br>
		{% for error in form.name.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}<br>
	</p>
	<p><input class="btn btn-secondary" type="submit" Value="Submit"></p>
</form>

{% endblock %}
