{% extends "_base.html" %}
{% block content %}

<h1>GymTracker</h1>
<br>
<div class="row">
	<div class="column" style="background-color:#aaa;">
		<h3>Track Gym Sessions</h3>	
		<img src="/static/media/clipboard.png" alt="Clip Board" height="64" width="64">
		<p>
		Using our application you can track and record your sessions at the gym. 
		Mangage routines and sets to customise your gym experience.
		</p>
		<p>
		GymTracker can be used on all devices in all locations, so you'll never 
		miss a workout!
		</p>
	</div>
	<div class="column" style="background-color:#bbb;">
		<h3>View your data</h3>	
		<img src="/static/media/bicep.png" alt="Bicep" height="64" width="64">
		<p>
		By adding your gym sessions to our app you can view trends such as how
		often you are working certain muscle groups.
		</p>
		<p>
		Unsure of what routines you should do? GymTracker provides a series of
		fifteen recommended routines ranging from beginner to expert level.
		</p>
	</div>
	<div class="column" style="background-color:#ccc;">
		<h3>Find Local Gyms</h3>	
		<img src="/static/media/compass.png" alt="Heart" height="64" width="64">
		<p>
		Struggling to find the perfect gym for you? With our technology you
		can find local gyms that are right for you!
		</p>
	</div>
</div>
{% endblock %}
