{% extends "_base.html" %}
{% block content %}
<h2>Register</h2>
<br>
<form action="" method="post" name="register">
	{{ form.hidden_tag() }}
	<h3>Username</h3>
	<p>
		{{ form.username }}<br>
		{% for error in form.username.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}<br>
	</p>
	<h3>Email</h3>
	<p>
		{{ form.email }}<br>
		{% for error in form.email.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}<br>
	</p>
	<h3>Password</h3>
	<p>
		{{ form.password }}<br>
		{% for error in form.password.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}<br>
	</p>
	<h3>Re-enter Password</h3>
	<p>
		{{ form.confirm }}<br>
		{% for error in form.confirm.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}<br>
	</p>
	
	<p><input class="btn btn-secondary" type="submit" value="Submit"></p>
</form>
{% endblock %}
