{% extends "_base.html" %}
{% block content %}
<h3>Username: {{ user.username }}</h3>
<h3>Email: {{ user.email }}</h3>
<form action="" method="post" name="settings"> 
	{{ form.hidden_tag() }}
	<div class="form-group">
	<h3>Old Password</h3>
	<p>
		{{ form.oldPassword }}<br>
		{% for error in form.oldPassword.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}<br>
	</p>
	</div>
	<div class="form-group">
	<h3>New Password</h3>
	<p>
		{{ form.newPassword }}<br>
		{% for error in form.newPassword.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}<br>
	</p>
	</div>
	<div class="form-group">
	<h3>Confirm New Password<h3>
	<p>
		{{ form.confirm }}<br>
		{% for error in form.confirm.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}<br>
	</p>
	</div>
	<p><input class="btn btn-secondary" type="submit" Value="Submit"></p>
{% endblock %}
