{% extends "_base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}

<h2>Sign In</h2>
<br>
<form action="" method="post" name="signin">
	{{ form.hidden_tag() }}
	<h3>Username</h3>
	<p>
		{{ form.username }}<br>
		{% for error in form.username.errors %}
		<span style="color: red;">'[{{ error }}]</span>
		{% endfor %}<br>
	</p>
	<h3>Password</h3>
	<p>
		{{ form.password }}<br>
		{% for error in form.password.errors %}
		<span style="color: red;">'[{{ error }}]</span>
		{% endfor %}<br>
	</p>
	<p><input class="btn btn-secondary" type="submit" Value="Submit"></p>
{% endblock %}
	<dl>
		{{ render_field(form.username) }}
		{{ render_field(form.password) }}
	</dl>
