{% extends "_base.html" %}
{% block content %}
<h1>View Routines</h1>
<br>
{% if routines %}
	{% for r in routines %}
		<div class="routineDiv">
		<h2> {{ r.name }}</h2>
		{% for s in r.sets %}
				<div class="setDiv">
				<h3> {{ s.exercise.name }} </h3>
				<h4> {{ s.weight }} Kg </h4>
				<h4> {{ s.reps }} Reps</h4>
				<br>
				</div>
		{% endfor %}
		{% if r.public == 0 %}
		<a href={{ url_for('createSet', routine_id=r.id) }}>Add a Set</a>
		{% endif %}
		</div>
	{% endfor %}
	<a class="btn btn-outline-secondary btn-lg btn-block" href="{{ url_for('defaultRoutine') }}">Add a default routine</a><br>
	<a class="btn btn-outline-secondary btn-lg btn-block" href={{ url_for('createRoutine') }}>Add a custom routine</a>
{% else %}
	<h4>You do not currently have any routines</h4>
	<a class="btn btn-outline-secondary btn-lg btn-block" href="{{ url_for('defaultRoutine') }}">Click here to select a default routine</a><br>
	<a class="btn btn-outline-secondary btn-lg btn-block" href="{{ url_for('createRoutine') }}">Click here to create your own routine</a>
{% endif %}
{% endblock %}
